@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,900");
@font-face {
  font-family: CircularStdBold;
  src: url("/static/fonts/CircularStdBold.woff2") format("woff2"),
    url("/static/fonts/CircularStdBold.woff") format("woff"),
    url("/static/fonts/CircularStdBold.ttf") format("truetype");
}

$heading-font: "Montserrat", sans-serif;
$text-font: "Montserrat", sans-serif;
$link-color: #7bbaf9;
$background: #121216;
* {
  font-family: $text-font;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
  -webkit-tap-highlight-color: transparent; /* for remove highlight */
  -moz-tap-highlight-color: transparent; /* for remove highlight */
}
body {
  margin: 0px;
  color: white;
}
h1,
h2,
h3,
h4,
h5,
.heading {
  font-family: $heading-font;
  font-weight: 400;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

a {
  color: $link-color;
  text-decoration: none;
}

$sidenavactive: white;
$sidenav: grey;
$hamcolor: white;
$sidenavhover: lightgrey;

@mixin container($width) {
  @media screen and (min-width: $width) {
    .container {
      max-width: $width - 40px;
    }
  }
}

$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

@-webkit-keyframes MoveUpDown {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(2%);
    transform: translateY(2%);
  }
}

@keyframes MoveUpDown {
  0%,
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(2%);
    transform: translateY(2%);
  }
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.theme-text.active {
  opacity: 1;
}

.index-text {
  font-family: CircularStdBold;
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.index-text2 {
  font-family: CircularStdBold;
}
.theme-text {
  font-family: CircularStdBold;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}
.index-text.hidden {
  opacity: 0;
}

.holder {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  position: relative;
  overflow: hidden;
  color: white;
}

#fixed-content {
  height: 100%;
  width: 100%;
  max-height: 100vh;
}
#fixed-content > * {
  position: fixed;
  z-index: 100;
}
.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
}

.nav-shift {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  opacity: 1;
  -webkit-transition: -webkit-transform 0.5s, opacity 0.25s;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}
.nav-shift.open {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  opacity: 0.85;
  -webkit-transition: -webkit-transform 0.5s, opacity 0.25s;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.sidenav {
  top: 50%;
  left: 20px;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  list-style: none;
  color: $sidenav;
  padding-left: 0;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.5s, opacity 0.25s;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}
.sidenav.open {
  -webkit-transform: translate(-120%, -50%);
  transform: translate(-120%, -50%);
  opacity: 0.85;
  -webkit-transition: -webkit-transform 0.5s, opacity 0.25s;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}
.sidenav li {
  cursor: pointer;
}
.sidenav li:hover {
  color: $sidenavactive;
}
.active_sidenav {
  color: $sidenavactive;
}
.nav {
  right: 20px;
  top: 20px;
}
.nav a {
  line-height: 22px;
  vertical-align: super;
  color: white;
  text-decoration: none;
}

#nav-icon3 {
  width: 30px;
  height: 22px;
  display: inline-block;
  z-index: 50;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: $hamcolor;
  border-radius: 4px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 9px;
}

#nav-icon3 span:nth-child(4) {
  top: 18px;
}

#nav-icon3.open span:nth-child(1) {
  top: 9px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 9px;
  width: 0%;
  left: 50%;
}

.icon {
  color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
}
.social-icons {
  position: absolute;
  bottom: 10px;
  right: 20px;
  height: max-content;
}
.social-ico {
  filter: opacity(0.6);
  transition: filter 0.5s ease;
}
.social-ico:hover {
  filter: opacity(1);
}
@media (pointer: coarse) {
  .social-ico {
    filter: opacity(1);
  }
}
.icon:hover {
  color: white;
  -webkit-text-stroke-width: 0px;
}

.text-center {
  text-align: center;
}
.text-white {
  color: white;
}
.dates {
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.border-button {
  border: 2px solid white;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.5px;
  border-radius: 6px;
  padding: 11px 16px;
}

.be-a-techrep {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.5px;
  border-radius: 6px;
  padding: 11px 16px;
}
/* Overlay style */
.overlay {
  position: fixed;
  width: 100%;
  padding-right: 4px;
  height: 100%;
  top: 0;
  left: 0;
  background: #222222;
}
.nav.open {
  right: 24px;
}
.nav.init {
  right: 20px;
}
.overlay-contentpush {
  background: #222222;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
  -webkit-transition: visibility 0s 0.5s, -webkit-transform 0.5s;
  transition: visibility 0s 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, visibility 0s 0.5s;
  transition: transform 0.5s, visibility 0s 0.5s, -webkit-transform 0.5s;
}

.overlay-contentpush.open {
  visibility: visible;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

@media screen and (min-height: 520px) {
  .overlay nav {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    text-align: center;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    font-size: 34px;
  }
  .overlay ul li {
    min-height: 34px;
  }
  .main-nav li {
    padding: 10px;
    font-size: 32px;
  }
}
@media screen and (max-height: 520px) {
  .overlay nav {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    text-align: center;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    font-size: 6vh;
  }
  .main-nav li {
    padding: 1vh;
    font-size: 6vh;
  }
  .overlay ul li {
    min-height: 6vh;
  }
}

.main-nav {
  list-style: none;
  padding-left: 0;
  margin: 0px;
}

.main-nav a {
  cursor: pointer;
  color: lightgrey;
  text-decoration: none;
}
.main-nav a:hover {
  color: white;
}
.contact_us {
  position: absolute;
  left: 20px;
  bottom: 20px;
}
.contact_us a {
  cursor: pointer;
  color: lightgrey;
  text-decoration: none;
}
.contact_us a:hover {
  color: white;
}

.img-circle {
  border-radius: 50%;
}

.testimonial {
  position: relative;
}
.testimonials {
  width: 80%;
  margin: auto;
  margin-top: 60px;
  text-align: center;
  color: white;
}
.testimonial-photo {
  width: 96px;
  height: 96px;
  -o-object-fit: cover;
  object-fit: cover;
  margin: auto;
}

.testimonial-text {
}
.testimonial-name {
  text-transform: uppercase;
}
.testimonial-work {
}
.slider {
  color: white;
}
.slider-icon {
  border-radius: 50%;
  width: 36px;
  line-height: 36px;
  height: 36px;
  border: 1px solid white;
  display: inline-block;
}

.testimonials-holder {
  position: absolute;
  z-index: -5;
  min-width: 200px;
  min-height: 200px;
  -webkit-box-shadow: 3px 3px 12px black;
  box-shadow: 3px 3px 12px black;
  left: 50%;
  top: 48px;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@include container($breakpoint-sm);
@include container($breakpoint-md);
@include container($breakpoint-lg);
@include container($breakpoint-xl);

.pt-content {
  color: white;
  width: 37%;
  position: relative;
  margin-left: 60%;
  text-align: justify;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.padding-sec {
  padding-bottom: 20px !important;
  padding-left: 50px !important;
}

.pt-fix {
  min-height: 50vh;
}

body {
  overflow-x: hidden;
  background-color: $background;
  -webkit-transition: -webkit-transform 0.5s, opacity 0.25s;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}
body.open {
  height: 100%;
  overflow-y: hidden;
  -webkit-transition: -webkit-transform 0.5s, opacity 0.25s;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.heading {
  text-align: center;
  color: white;
  font-size: 30px;
  margin-bottom: 30px;
  letter-spacing: 3px;
}
.heading > hr {
  width: 140px;
  margin: auto;
  margin-top: 10px;
}

.all_events {
  color: white;
}

.all_events > h3 {
  margin-bottom: 0px;
}
.all_events {
  margin-top: 30px;
  margin-bottom: 30px;
}
.all_events > p {
  text-align: justify;
}

.register-mobile {
  display: inline-block;
}

.m-register-mobile {
  position: absolute;
  bottom: 30px;
  text-align: center;
  width: 100%;
}
.register-mobile > a {
  color: white;
}

.mail {
  color: white;
}
.mail > a {
  color: white;
  text-decoration: none;
}

.footer {
  padding: 15px;
  margin-top: 20px;
}
.head-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 50px;
}
.head {
  color: white;
  width: 260px;
  text-align: center;
  margin: 40px;
  display: inline-block;
}
.head-photo {
  position: absolute;
  z-index: 0;
  left: 0;
  height: 330px;
  width: 260px;
  -o-object-fit: cover;
  object-fit: cover;
}
.head-photo-container {
  position: relative;
  width: 260px;
  height: 330px;
}
.head-photo-hover {
  left: 0;
  position: absolute;
  z-index: -5;
  height: 330px;
  width: 260px;
  -o-object-fit: cover;
  object-fit: cover;
}

.head-photo-container:hover > .head-photo {
  z-index: -10;
}
.head-name {
  margin-top: 20px;
  font-size: 25px;
}
.head-contact > a {
  color: $link-color;
  text-decoration: none;
}
.head-position {
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
  letter-spacing: 1.5px;
}
.head-social-icons {
  margin-top: 10px;
}

.pt-fix {
  min-height: 50vh;
}

.padding-sec {
  padding-bottom: 20px !important;
  padding-left: 50px !important;
}

.video-pt.shake {
  -webkit-animation: MoveUpDown 3s ease-in-out infinite;
  animation: MoveUpDown 3s ease-in-out infinite;
}

.video-pt.active {
  opacity: 1;
}

@media screen and (max-width: $breakpoint-sm) {
  .logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
  }

  .container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .text-xs-center {
    text-align: center;
    padding-left: 0px !important;
  }
  .row {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .contact-mail {
    text-align: right;
  }
  .hidden-xs {
    display: none !important;
  }
  .visible-xs {
    display: initial;
  }
  .pt-content {
    color: white;
    width: 80%;
    position: relative;
    margin-left: 10%;
    text-align: justify;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .fcu {
    padding-bottom: 20px;
  }
  .social-icons {
    position: relative !important;
    right: unset !important;
    text-align: center !important;
    padding-right: 0px;
    /*padding-bottom:10px;*/
    width: 100%;
    top: 0% !important;
    -webkit-transform: translate(0%, 0%) !important;
    transform: translate(0%, 0%) !important;
  }
  h2 {
    font-size: 30px !important;
  }
  .head-photo-container:hover > .head-photo {
    z-index: 0 !important;
  }
  .svg-background {
    opacity: 0.3;
    position: absolute;
    z-index: -10;
    top: 0;
    height: 100%;
    width: 100%;
    // display:none;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .svg-background > object {
    height: 100vh;
    width: 100%;
    -webkit-transform: scale(3, 3);
    transform: scale(3, 3);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
  }
  .theme-text {
    font-size: 30px;
    bottom: 10%;
    position: absolute;
    width: 94%;
    padding-left: 3%;
    padding-right: 3%;
    text-align: center;
  }

  .index-text {
    width: 94%;
    position: absolute;
    top: 50%;
    padding-left: 3%;
    padding-right: 3%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .index-text2 {
    font-size: 26px;
    text-align: center;
    margin-bottom: 20px;
  }
  .zoom-button {
    padding-top: 20px;
  }

  .video-pt {
    position: fixed;
    min-height: 100%;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    // right: 0;
    top: 0;
    z-index: -2;
    opacity: 0;
    left: 50%;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
  }

  .video-pt > video {
    // width: 100vw;
    height: 100vh;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .m-register-mobile.hidden {
    display: none;
  }
  .row-reverse-sm-xs {
    flex-flow: column-reverse;
  }
  .text-center-sm-xs {
    text-align: center !important;
  }
}
@media (min-width: 768px) and (max-width: 769px) {
  .col-sm-12 {
    max-width: unset;
    width: 100% !important;
  }
}
@media screen and (min-width: $breakpoint-sm+1) and (max-width: $breakpoint-md) {
  .row-reverse-sm-xs {
    flex-flow: column-reverse;
  }

  .hidden-xs {
    display: initial;
  }
  .visible-xs {
    display: none !important;
  }
  .pt-content {
    color: white;
    width: 60%;
    position: relative;
    margin-left: 20%;
    text-align: justify;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .contact-mail {
    text-align: right;
  }
  .hidden-sm {
    display: none !important;
  }
  .visible-sm {
    display: initial !important;
  }
  h2 {
    font-size: 35px !important;
  }

  .fcu {
    padding-bottom: 20px;
  }
  .separator {
    margin-top: 60px;
  }
  .social-icons {
    position: relative !important;
    right: unset !important;
    text-align: center !important;
    padding-right: 0px;
    /*padding-bottom:10px;*/
    width: 100%;
    top: 0% !important;
    -webkit-transform: translate(0%, 0%) !important;
    transform: translate(0%, 0%) !important;
  }
  .svg-background {
    opacity: 0.3;
    position: absolute;
    z-index: -10;
    top: 0;
    height: 100%;
    width: 100%;
    // display:none;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .svg-background > object {
    height: 100vh;
    width: 100%;
    -webkit-transform: scale(2, 2);
    transform: scale(2, 2);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
  }
  .text-center-sm-xs {
    text-align: center !important;
  }
  .theme-text {
    font-size: 55px;
    bottom: 10%;
    position: absolute;
    width: 94%;
    padding-left: 3%;
    padding-right: 3%;
    text-align: center;
  }

  .index-text {
    width: 94%;
    position: absolute;
    top: 50%;
    padding-left: 3%;
    padding-right: 3%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .index-text2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
  }
  .zoom-button {
    padding-top: 20px;
  }

  .video-pt {
    position: fixed;
    min-height: 100%;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    // right: 0;
    top: 0;
    z-index: -2;
    opacity: 0;
    left: 50%;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
  }

  .video-pt > video {
    // width: 100vw;
    height: 100vh;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
@media screen and (max-width: $breakpoint-lg+1) {
  .hidden-md {
    display: none !important;
  }
}
@media screen and (min-width: $breakpoint-md+1) {
  .hidden-xs {
    display: initial;
  }
  .visible-xs {
    display: none !important;
  }
  .hidden-sm {
    display: initial;
  }
  .pt-content {
    color: white;
    width: 37%;
    position: relative;
    margin-left: 60%;
    text-align: justify;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .visible-sm {
    display: none !important;
  }
  .separator {
    margin-top: 60px;
  }

  .svg-background {
    opacity: 0.3;
    position: absolute;
    z-index: -10;
    top: 0;
    height: 100%;
    width: 100%;
    // display:none;
  }
  .svg-background > object {
    height: 100vh;
    width: 100%;
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5);
    -webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
  }
  .theme-text {
    font-size: 60px;
    top: 54%;
    position: absolute;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-left: 3%;
    width: 50%;
  }

  .index-text {
    width: 94%;
    position: absolute;
    left: 3%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .index-text2 {
    font-size: 45px;
    text-align: left;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .video-pt {
    position: fixed;
    min-height: 100%;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    right: 0;
    top: 0;
    z-index: -2;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
  }

  .video-pt > video {
    height: 100vh;
  }
}

.svg-background.open > object {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  opacity: 0;
}

h2 {
  font-size: 40px;
}

.holder-16-9 {
  position: relative;
  padding-bottom: 56.25%; /*16:9*/
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.content-16-9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.accordion {
  width: 100%;
  margin: 30px auto 20px;
  // background: #fff;
  -webkit-padding-start: 0px;
  padding-inline-start: 0px;
  list-style: none;
}

.accordion .link {
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 15px;
  color: white;
  font-size: 14px;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li i {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 18px;
  color: white;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
  right: 12px;
  left: auto;
  font-size: 16px;
}

.accordion li.open_faq .link {
  color: $link-color;
}

.accordion li.open_faq i {
  color: $link-color;
}

.accordion li.open_faq i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.submenu {
  display: none;
  background: #61616133;
  font-size: 14px;
}

.submenu p {
  display: block;
  text-decoration: none;
  margin: 0px;
  color: white;
  padding: 12px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#lottie {
  background-color: black;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 102;
}
.space-out {
  line-height: 1.5;
  word-spacing: 1.5px;
  letter-spacing: 1.1px;
}

html.init {
  height: 100%;
  overflow-y: hidden;
}

.zoom-button > a {
  background-color: white;
  color: black;
  padding-top: 10px;
  cursor: pointer;
}

.border-button {
  outline: none;
  cursor: pointer;
}

.svg-background1 {
  position: fixed !important;
}

#img-container {
  width: 100vw;
  height: 50vw;
  object-fit: cover;
}

@keyframes bounce-fade {
  0%,
  100% {
    opacity: 0.1;
  }

  50% {
    opacity: 1;
  }
}

.bounce-fade {
  -moz-animation: bounce-fade 3s infinite;
  -webkit-animation: bounce-fade 3s infinite;
  animation: bounce-fade 3s infinite;
}
