@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Josefin+Slab');

body {
	font-family: 'Josefin Slab', serif;
}

.navbar-brand, .heading, h1,h2,h3,h4,h5{
	font-family: 'Amatic SC', cursive;
}

.float-right{
	float:right;
}

.navbar{
	background-color: rgba(0,0,0,0.2);
}

.text-center{
	text-align:center;
}

.row{
	margin-left: 0px;
	margin-right: 0px; 
}

img.img-circle.team-img {
	width: 60%;
	height: 60%;
}
.heading{
  text-align: center;  
}

header {
  padding: 156px 0 100px;
}

section {
  padding: 100px 0;
}

footer{
  background-color: #343a40;
}
.byline{
  color: rgba(255,255,255,.5);
}
.footer-link{

  color: rgba(255,255,255,.5);
}
.footer-link:hover{
  text-decoration: none;
}
footer hr{

  background-color: rgba(255,255,255,.5);
}
#milestone-flow{
  background:rgba(255,255,255,.7);
  width: fit-content;
  width: -moz-fit-content;
  margin: auto;
  padding: 20px;
  border-radius: 30px; 
}
.milestone{
  position: relative;
  width: 80%; margin-left:10%; margin-top:60px; background:rgba(255,255,255,.7); color:black; padding:20px; border-radius: 30px;
  text-align: center; 
}

.milestone:before{
  position: absolute; border: 5px solid rgba(255,255,255,0.6); width: 0; height: 60px; display: block; content: ''; left: 50%; z-index: 1; top: -60px; margin-left: -1px; /*box-shadow: 0px 5px 1px rgba(0,0,0,0.5) , 0px -5px 1px rgba(0,0,0,0.5) ;*/  

}
.hashtag{
  font-size: 1.25rem;
}
nav{
  background-color: #343a40!important;
}
canvas{
  height:calc( 100vh - 250px );
  width:100%;
  background-color: white;
  border: 1px solid lightgrey;
}
.modal-dialog{
  max-width: none;
}

*::-webkit-scrollbar {
    width: 0.5em;
}
 
*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(153,156,159);
}
 
*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: darkgrey;
  outline: 1px solid rgb(153,156,159);
}

*::-webkit-scrollbar-thumb:hover {
  border-radius: 8px;
  background-color: #808386;
  outline: 1px solid slategrey; 
}


.button-red{
background: linear-gradient(to right, #E01415 0%, #E01415 50%, #FBFBFB 50%, #FBFBFB 100%);border:none; font-size: 24px;
-webkit-transition: background 1s ease-out;  
    -moz-transition: background 1s ease-out;  
    -o-transition: background 1s ease-out;  
    transition: background 1s ease-out;  
}

.button-red:hover{
background: linear-gradient(to right, #E01415 0%, #E01415 100%);

}