{% extends 'layouts/master.html' %}
{%block title%}Courses | Departmental{%endblock%}

{%block head%}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
<style type="text/css">
    .dataTables_paginate{
        margin:auto;
        text-align: center !important;
    }
    .dataTables_info{
        text-align: center;
    }
    #bootstrap-data-table_filter{
        display: inline;
    }
    .dataTables_length{
        display: inline;
    }
    .paginate_button{
        margin:2px;
    }
</style>
{%endblock%}
{% block content %}



<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Club Courses/Notes</strong>
                    </div>
                    <div class="table-stats ov-h"  style="padding:20px;">
                        <!-- <table class="table"> -->
                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Added by</th>
                                    <th>Project / Topic</th>
                                    <th>Type</th>
                                    <th>Title</th>
                                    <th>Content</th>
                                    <th>Download</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for video in videos %}
                                {%if video.course.department.id <= 5%}
                                <tr>
                                    <td>  <span class="name">{{video.user.username}} </span> </td>
                                    <td>  <span class="name">{{video.course.name}}</span> </td>
                                    <td>  <span class="name">Video</span> </td>
                                    <td>  <span class="name">{{video.title}} </span> </td>
                                    <td>  <span class="name"><button type="button" class="btn btn-success mb-1 open-AddBookDialog" data-video="{{video.document}}" data-toggle="modal" data-target="#scrollmodal" >
                                        Play
                                    </button></span> </td>
                                    <td>  <span class="name"><a href="/{{video.document}}">Get Offline</a> </span> </td>
                                </tr>
                                {%endif%}
                                {%endfor%}

                                {% for note in notes %}
                                {%if note.course.department.id <= 5%}
                                <tr>
                                    <td>  <span class="name">{{note.user.username}} </span> </td>
                                    <td>  <span class="name">{{note.course.name}}</span> </td>
                                    <td>  <span class="name">Notes</span> </td>
                                    <td>  <span class="name">{{note.title}} </span> </td>
                                    <td>  <span class="name"></span><a href="/{{note.document}}" target="_blank" class="btn btn-success">Preview</a> </td>
                                    <td>  <span class="name"><a href="/{{note.document}}">Get Offline</a> </span> </td>
                                </tr>
                                {%endif%}
                                {%endfor%}
                            </tbody>
                        </table>
                    </div> <!-- /.table-stats -->
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="scrollmodal" tabindex="-1" role="dialog" aria-labelledby="scrollmodalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                  <div class="container-fluid" id="video" style="font-size: 20px;">
                    
                  </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

        {% endblock %}

        {%block script%}
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
        

        <script type="text/javascript">

            $("#club_co").addClass('active');
            $(document).ready( function () {
                $('#bootstrap-data-table').DataTable({
                    //scrollX: true,
                    dom: 'Bfrtip',
                    order: [[ 0, "desc" ]],
                    buttons: []
                });
                $("select").addClass('form-control');
                $('input[type="search"]').addClass('form-control');
                $('#bootstrap-data-table_filter').addClass('pull-right');
                $('.buttons-csv').addClass('btn-success btn');
            });

            $(".open-AddBookDialog").on('click',function(){

                 var link = $(this).data('video');
                 //console.log(link)
                $(".modal-body #video").html("<video width=\"700\" controls> <source src=\"/"+link+"\" type=\"video/mp4\">Your browser does not support HTML5 video.</video>");
             });
        </script>
        {%endblock%}
